.row-margin {
    margin-top: 2em;
}

.line {
    color: #3b4140;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 1em 0 2em;
}

.line span {
    background: #fff;
    padding: 0 1em;
}

header {
    font-family: AppleGothic;
    margin-top: 3em;
    margin-bottom: 3em;
}

footer {
    margin-top: 7em;
    margin-bottom: 3em;
}

.outer-div {
    position: relative;
}

.inner-div-right {
    position: absolute;
    bottom: 5em;
    right: 2em;
}

.inner-div-left {
    position: absolute;
    bottom: 5em;
    left: 2em;
}

.quote {
    font-family: AppleGothic;
    font-size: 0.8em;
    color: #54707f;
}

.quoter {
    color: #c75d49;
}

.team-img {
    max-width: 100%;
}

.fa-quote-left {
    font-size: 3em !important;
    color: #c75d49;
}

.join {
    height: 100%;
    width: 100%;
    background-color: #eef1f2;
}

.join h1 {
    font-weight: bold;
    color: #394357;
    padding-top: 1.5em;
    text-align: center;
}

.join p {
    color: #394357;
    padding-top: 1em;
    text-align: center;
}

.logo {
    position: absolute;
    left: -7.2em;
    bottom: -3.6em;
}

.arrow {
    opacity: 0.5;
}

@media only screen and (max-device-width: 480px) {
    .join h1 {
        font-size: 1.5em;
    }
}
